<html>
    <div>
        <div>
            <h1>View Orders of <u>{{ c.name }}</u></h1>
        </div>
        <div>
            <table>
                <thead>
                    <th>Order Name (PK)</th>
                    <th>Ordered By</th>
                    <th>Total</th>
                    <th>Mode of Payment</th>
                    <th>Order At</th>
                </thead>
                <tbody>
                    {% for i in c %}
                    <tr>
                        <td> {{ d.name }} </td>
                        <td> {{ d.prep_time }} </td>
                        <td> {{ d.cook_time }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</html>