{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <script src="{% static '/bootstrap/jquery-3.4.1.slim.min.js' %}"></script>
        <script src="{% static '/bootstrap/popper.min.js' %}"></script>
        <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
    </head>
    <body>
        <div class="container-fluid">
            <div class="d-flex flex-column align-items-center justify-content-around" style="height: 100vh;">
                <div>
                    <a href="{% url 'customers' %}"><button class="btn btn-secondary" style="width: 60vw">View Customers</button></a>
                </div>
                <div>
                    <a href="{% url 'food' %}"><button class="btn btn-secondary" style="width: 60vw">View Food</button></a>
                </div>
                <div>
                    <a href="{% url 'order' %}"><button class="btn btn-secondary" style="width: 60vw">View Orders</button></a>
                </div>
            </div>

            
        </div>
    </body>
</html>